<html>
<head>
	<title></title>
</head>
<body>
	<div id="header">
		<div><img src="/images/fixnix.png"></div>
	</div>
	<div id="main-wrap">
		<div id="sidebar">
			<%= render :partial => "layouts/menu" %>
		</div>
		<div id="content-wrap">
			<div class="span12 offset well"> 
				<h1>Editing Team Contact</h1>

				<%= render 'form' %>
			</div>
		</div>
		<%= link_to 'Show', @team %> |
        <%= link_to 'Back', teams_path %>
	</div>
	<!-- 	<div id="footer">Footer</div> -->



</body>
</html>

