<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
      <p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @team.post %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Dept:</b>
  <%= @team.dept %>
</p>

<p>
  <b>Destination:</b>
  <%= @team.destination %>
</p>

<p>
  <b>Officeno:</b>
  <%= @team.officeno %>
</p>

<p>
  <b>Mobile:</b>
  <%= @team.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @team.email %>
</p>

<p>
  <b>Responsible:</b>
  <%= @team.responsible %>
</p>


<%= link_to "Create Report", team_path(@team, :format => "pdf") , :class => "pure-button pure-button-primary"  %>       
<%= link_to 'Edit', edit_team_path(@team), :class => "pure-button pure-button-primary" %> 
<%= link_to 'Back', teams_path , :class => "pure-button pure-button-primary" %>

   </div>
   <!--   <div id="footer">Footer</div> -->

 </body>
 </html>