<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Policy" data-toggle="tab">Emergency Contact Details</a></li>
                        <!-- <li><a href="#EP" data-toggle="tab">Existing Risks</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">
                            <table class="table table-bordered">
                            <tr>
                                <th>Police Station</th>
                                <th>Fire Station</th>
                                <th>Ambulance</th>
                                <th>Hospital</th>
                                <!-- <th>Insurance</th>
                                <th>Telephone</th>
                                <th>Gas heat</th>
                                <th>Electric</th>
                                <th>Newspaper</th>
                                <th>Radio</th>
                                <th>Tvchannel</th> -->                               
                              </tr>

                            <% @emergencies.each do |emergency| %>
                              <tr>
                                <td><%= emergency.police %></td>
                                <td><%= emergency.fire %></td>
                                <td><%= emergency.ambulance %></td>
                                <td><%= emergency.hospital %></td>
                                <!-- <td><%= emergency.insurance %></td>
                                <td><%= emergency.telephone %></td>
                                <td><%= emergency.gas_heat %></td>
                                <td><%= emergency.electric %></td>
                                <td><%= emergency.newspaper %></td>
                                <td><%= emergency.radio %></td>
                                <td><%= emergency.tvchannel %></td> -->
                                <td><%= link_to 'Show', emergency %></td>
                                <td><%= link_to 'Edit', edit_emergency_path(emergency) %></td>
                                <td><%= link_to 'Destroy', emergency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                            </table>
                            <br />

                         <%= link_to '+ Add New Emergency Contact', new_emergency_path , :class => "pure-button pure-button-primary" %>
                            </div>
                         <div id="EP" class="tab-pane">
                        <h4>Existing Risks</h4>
                        <p> Coming Soon ...</p>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>