<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
      <p id="notice"><%= notice %></p>

<p>
  <b>Police Station:</b>
  <%= @emergency.police %>
</p>

<p>
  <b>Fire Station:</b>
  <%= @emergency.fire %>
</p>

<p>
  <b>Ambulance:</b>
  <%= @emergency.ambulance %>
</p>

<p>
  <b>Hospital:</b>
  <%= @emergency.hospital %>
</p>

<p>
  <b>Insurance:</b>
  <%= @emergency.insurance %>
</p>

<p>
  <b>Telephone:</b>
  <%= @emergency.telephone %>
</p>

<p>
  <b>Gas heat:</b>
  <%= @emergency.gas_heat %>
</p>

<p>
  <b>Electric:</b>
  <%= @emergency.electric %>
</p>

<p>
  <b>Newspaper:</b>
  <%= @emergency.newspaper %>
</p>

<p>
  <b>Radio:</b>
  <%= @emergency.radio %>
</p>

<p>
  <b>Tvchannel:</b>
  <%= @emergency.tvchannel %>
</p>


<%= link_to "Create Report", emergency_path(@emergency, :format => "pdf") , :class => "pure-button pure-button-primary"  %>       
<%= link_to 'Edit', edit_emergency_path(@emergency), :class => "pure-button pure-button-primary" %> 
<%= link_to 'Back', emergencies_path , :class => "pure-button pure-button-primary" %>

   </div>
   <!--   <div id="footer">Footer</div> -->

 </body>
 </html>