<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
      <p id="notice"><%= notice %></p>

<p>
  <b>Risk:</b>
  <%= @risk.risk_id %>
</p>

<p>
  <b>Risk:</b>
  <%= @risk.risk %>
</p>

<p>
  <b>Consequence current:</b>
  <%= @risk.consequence_current %>
</p>

<p>
  <b>Consequence target:</b>
  <%= @risk.consequence_target %>
</p>

<p>
  <b>Likelihood current:</b>
  <%= @risk.likelihood_current %>
</p>

<p>
  <b>Likelihood target:</b>
  <%= @risk.likelihood_target %>
</p>

<p>
  <b>Risk level:</b>
  <%= @risk.risk_level %>
</p>


<%= link_to "Create Report", risk_path(@risk, :format => "pdf") , :class => "pure-button pure-button-primary"  %>       
<%= link_to 'Edit', edit_risk_path(@risk), :class => "pure-button pure-button-primary" %> 
<%= link_to 'Back', risks_path , :class => "pure-button pure-button-primary" %>

   </div>
   <!--   <div id="footer">Footer</div> -->

 </body>
 </html>