<div class="pure-u" id="menu">
	<div class="pure-menu pure-menu-open">
		<ul>
			<li class="fancy">
				<a href="/dashboards">
					<i  class="icon-eye-open"></i>					 
					<span>Dashboard</span>
				</a>
			</li>

			<li>
				<a href="/plans">
					<i  class="icon-list-alt"></i>
					<span >BCM Plan</span> 
				</a>
			</li>

			<li>
				<a href="/risks">
					<i  class="icon-hand-right"></i>
					<span >BCM Risk</span> 
				</a>
			</li>

			<li>
				<a href="/teams">
					<i  class="icon-list-alt"></i>
					<span >Team Details</span> 
				</a>
			</li>

			<li>
				<a href="/emergencies">
					<i  class="icon-list-alt"></i>
					<span >Emergency contact details</span> 
				</a>
			</li>

		
			<li>
				<a href="/crises">
					<i  class="icon-hand-right"></i>
					<span >Crisis Management</span>
				</a>
			</li>

			<li>
				<a href="/biachecklists">
					<i  class="icon-list-alt"></i>
					<span >Business Impact Analysis</span>
				</a>
			</li>

			<li>
				<a href="/tests">
					<i  class="icon-hand-right"></i>
					<span >Training & Test</span>
				</a>
			</li>

			<!-- <li>
				<a href="/calendar">
					<i  class="icon-calendar"></i>
					<span >Calendar</span>
				</a>
			</li>

			<li>
				<a href="#">
					<i  class="icon-archive"></i>
					<span >Archive</span>
				</a>
			</li>

			<li>
				<a href="#">
					<i  class="icon-envelope"></i>
					<span >Notification</span>
				</a>
			</li> -->

			<!-- <li>
				<a href="#">
					<i class="icon-trophy"></i>
					<span>Test</span>
				</a>
			</li> -->

			<li>
				<a href="#">
					<i class= "icon-user"></i>
					<% if user_signed_in? %>
				<%= current_user.email %>
				<% end %>
				</a>
			</li>

			<li>
				<% if user_signed_in? %>
				<!-- Signed in as <%= current_user.email %>. Not you? -->
				<%= link_to '<i class= "icon-signout"></i> <span>Sign Out</span>'.html_safe, destroy_user_session_path, :method => :delete %>
				<% end %>
			</li>
		</ul>
	</div>
</div>